<h1 class="showTitle">  <%= @topic.title %></h1>
<h2 class="showName"><em>  by <%= @topic.username %></em></h2>
<h3 class="showName"><em>  Recipe </em></h3>
<p class="showTopic">  <%= simple_format @topic.description %> </p>