<!DOCTYPE html>
<html>
  <head>
    <title>Cocktail Enthusiasts</title>
    <%= stylesheet_link_tag "site" %>
  </head>
  <body>
    <div>
      <ul>
        <li><a class="link" href="http://cocktail-enthusiasts.herokuapp.com/">Cocktails</a></li>
        <li><a class="link" href="http://recipe-compiler.herokuapp.com">Recipes</a></li>
      </ul>
    </div>
    <div id="greeting">
      <h2>Welcome to</h2>
      <h1><strong>Cocktail Enthusiasts</strong></h1>
    </div>
    <div>
      <img src="http://tabletalkradio.net/wp-content/uploads/2012/05/cocktail.jpg"/>
      <img src="http://cloudfront2.bostinno.com/wp-content/uploads/2012/10/Dark-n-Stormy.jpg"/>
    </div>
    <div id="enter"><a href="<%= topics_path %>">Enter the Website</a></div>
  </body>
</html>