// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
  border-collapse: collapse;
  .topic {
    .tableBorder {
      padding-left: 5px;
    }
    &:hover {
      background-color: #CCCCCC;
      color: purple;
      a:link, a:visited, a:hover, a:active {
        color: purple;
      }
    }
  }
}

.pagination {
  margin-top: 1em;
  color: black;
  a:link, a:visited, a:hover, a:active {
    color: black;
  }
}

.pagination * {
  text-shadow: none;
  text-decoration: none;
  border: 1px solid black;
  padding: 0.2em 0.5em;
  background-color: #CCCCCC;
  &:hover {
    color: #000033;
    border-color: #000033;
    background-color: #999;
  }

  &.current {
    background-color: #000033;
    color: #999;
    font-style: normal;
  }
}

body {
  background-color: purple;
  color: #CCCCCC;
  text-shadow: 0px 1px 0px #000;
}

a:link, a:visited, a:hover, a:active {
  color: #CCCCCC;
  text-shadow: none;
}

.showTitle {
   color: turquoise;
}

.showName {
    font-size: 1.3em;
    color:lightgreen;
}

.showTopic {
    font-weight: normal;
}

#compareButton {
  text-align: center;
}

#compareTable{
  width: 100%;
  td {
    border-right: 1px solid white;
    padding: 10px;
    vertical-align: top;
    &:last-child {
      border: 0;
    }
  }
}

#compareSelectTable {
  margin: 0 auto;
}

.comments {
  list-style-type: none;
  padding: 5px;
  width: 22em;
  
  li {
    &:first-child {
      text-align: left;
      font-size: 14px;
    }
    
    &:last-child {
      margin-left: 5em;
      .commentOptions {
        padding-left: 10px;
      }
    }
  }
}