// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.commentDescriptionCol {
    width: 800px;
}

.commentTable1 {
    border-collapse: collapse;
}

table {
    border-collapse: collapse;
}

body {
    background-color: purple;
    color: lightgrey;
}

a:link, a:visited, a:hover, a:active {
    color: lightgrey;
}