// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
    border-collapse: collapse;
}
.commentDescriptionCol {
    width: 800px;
}

.commentTable1 {
    border-collapse: collapse;
}
.tableBorder {
    padding:5px;
    border-left:1px solid lightgrey
}
.last {
    padding:5px;
    border-left:1px solid lightgrey;
}
body {
    background-color: purple;
    color: lightgrey;
}

a:link, a:visited, a:hover, a:active {
    color: lightgrey;
}

#compareButton {
    text-align: center;
}
#compareTable{
    width: 100%;
}
#compareTable td {
    border-right: 1px solid white;
    padding: 10px;
    vertical-align: top;
}
#compareTable td:last-child {
    border: 0;
}
#compareSelectTable {
    margin-left: 30%;
}